!!! 5
html(lang="en")
  head
    title arduino-socket
    link(rel="stylesheet", href="/styles/bootstrap/init.css")
    link(rel="stylesheet", href="/styles/init.css")
    link(rel="stylesheet", href="/styles/bootstrap.css")
    link(rel="stylesheet", href="/styles/slider.css")
    link(rel="stylesheet", href="/styles/tuto01.css")
    script(src="/socket.io/socket.io.js")
    script(data-main="scripts/main", src="/scripts/require-jquery.js")
    script(src="/scripts/bootstrap.js")   
    script(src="/scripts/bootstrap-slider.js")   
    script(src="/scripts/slider.js")   
  body!= body